doctype html
html
  head
    title Bilingual
    link(rel='stylesheet', type="text/css", href='/css/style.css')
  body
    header
      h1.header
        a(href="/")
          strong Bilingual

    main#main
        block content